@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  margin: 0;
  height: 100vh;
  background-color: #111;
  
  font-family: 'Fredericka the Great', serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orangered;
  font-size: 45px;
  border-top: 5px solid goldenrod;
  border-bottom: 5px solid goldenrod;
  padding: 8px 0;
}